.video-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 20px;
    transition: all 0.3s; 
}

@media (max-width: 750px) {
    .video-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail-container {
    position: relative;
}

.thumbnail {
    width: 100%;
}

.floating-vid-duration {
    background-color: rgba(54, 52, 52, 0.596);
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 15px;
    transition: all 0.3s; 
}

.time-duration {
    color: #fff;
    font-size: 12px;
    margin: 1px 3px;
}

.detail-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 10px;
}

.profile-pic {
    width: 75%;
    object-fit: cover;
    border-radius: 50px;
    transition: all 0.3s; 
}

.profile-pic-container {
    vertical-align: top;
}

a {
    text-decoration: none;
}

.title {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 5px;
    transition: all 0.3s; 
}

.author {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 5px;
    transition: all 0.3s; 
}

.author:hover {
    text-decoration: underline;
}

.stats {
    font-size: 12px;
    margin: 0;
    pointer-events: none;
}
